html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font: normal 75% sans-serif;
  background: radial-gradient(rgb(64, 64, 64), rgb(16, 16, 16));
}

#particles-js{
  height: 99.7%;
  width: 100%;
  position:absolute;
}

.grid {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  grid-template-areas:
  "header"
  "main"
  "footer";
}

.main {
  margin-top: 3vh;
  grid-area: main;
  border-radius: 10px;
}

.footer {
  grid-area: footer;
  background-color: dimgray;
}

.contact{
  font-size: 22px;
}

.text {
  color: #00E660;
  font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.center {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 60%;
  position: relative;
}

.name {
  font-size: 4.5vh;
  margin-bottom: 3vh;
  text-align: center;
}

/* btn from uiverse.io by @EmmaxPlay */
.btn {
  font-size: 48px;
  display: inline-block;
  padding: 0.2em 1em;
  margin: 0 0.3em 0.3em 0;
  color: white;
  text-decoration: none;
  text-align: center;
  position: relative;
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
  opacity: 95%;
  z-index: 0;
 }
 
 .btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(25, 25, 25);
  left: 0;
  top: 0;
  border-radius: 10px;
 }
 /* glow */
 .btn::before {
  content: "";
  background: linear-gradient(
     45deg,
     #FF0000, #002BFF, #FF00C8, #002BFF,
       #FF0000, #002BFF, #FF00C8, #002BFF
 );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
 }
 
 @keyframes glowing {
  0% {
   background-position: 0 0;
  }
 
  50% {
   background-position: 400% 0;
  }
 
  100% {
   background-position: 0 0;
  }
 }
 
 /* hover */
 .btn:hover::before {
  opacity: 1;
 }